* {
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.form {
    gap: 5px;
    display: flex;
    flex-direction: column;
}

.form input {
    padding: 7px 20px;
    font-size: 17px;
    color: gray;
    border: .5px solid gray;
}

.form button {
    color: #FFF;
    padding: 7px 20px;
    background: crimson;
    border-radius: 5px;
}

.cards {
    text-align: center;
}

.container_h1 {
    font-weight: 100 !important;
}

.container h1 {
    font-weight: 500;
}

.close {
    width: 280px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.close button {
    padding: 1px 10px 8px 10px;
    border-radius: 50%;
    font-size: 25px;
    background: red;
    color: #FFF;
}